<?xml version="1.0"?>
<launch>

  <arg name="init_x" default="0" />
  <arg name="init_y" default="0" />
  <arg name="init_a" default="0" />

  <arg name="use_rviz" default="$(optenv RACECAR_CLIENT false)" />
  <arg name="is_stage" default="false" />
  <arg name="is_teb" default="false" />

  <group unless="$(arg is_stage)">
    <!-- Run the map server -->
    <arg name="map_file" default="$(find racecar_navigation)/maps/test.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  </group>

  <!-- Run Odometry -->
  <include file="$(find racecar_navigation)/launch/odom.launch" />

  <node pkg="racecar_navigation" type="map_localization" name="map_localization">
  </node>

  <!-- Rviz -->
  <include file="$(find racecar_core)/launch/rviz.launch" if="$(arg use_rviz)">
    <arg name="config" value="amcl"/>
  </include>

</launch>
