<?xml version="1.0"?>

<launch>
  <!--<include file="$(find mynt_eye_ros_wrapper)/launch/slam/vins_fusion.launch" />-->

  <node pkg="vins" type="vins_node" name="vins_estimator" args="$(find vins)/../config/mynteye/mynteye_stereo_imu_config.yaml" output="screen">
    <param name="world_frame" value="odom" />
  </node>

</launch>